aiohttp==3.7.4
alpaca-trade-api==1.5.1
async-timeout==3.0.1
attrs==21.4.0
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
deprecation==2.1.0
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
idna==3.3
importlib-metadata==4.11.2
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.0
msgpack==1.0.2
multidict==6.0.2
numpy==1.21.5
packaging==21.3
pandas==1.3.5
psycopg2-binary==2.9.3
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.32
tulipy==0.4.0
typing-extensions==4.1.1
urllib3==1.26.8
websocket-client==1.3.1
websockets==10.2
Werkzeug==2.0.3
WTForms==3.0.1
yarl==1.7.2
zipp==3.7.0
