{% extends 'base.html' %}
{% block content %}
  <div class="home-hero">
    <h1>Python Trader</h1>
    <h4>Your automatic trading option</h4>
    <p>browse over 10000 stocks and select trading strategies to place trade automatically</p>
    <a href="/signup" class="btn btn-primary">Sign up</a>
  </div>
{% endblock %}


<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>